
.headerContainer {
  z-index: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding-left: 20px;
  padding-right: 20px;
}

.headerImage {
  display: flex;
  align-items: center;
  height: 60px;
  img{
    height: 40px;
    width: auto;
  }
  :first-child{
    padding-right: 5px;
    border-right: 1px solid black;
  }
  :last-child{
    padding-left: 5px;
  }
}

