<div class="headerContainer">
    <div class="headerImage">
        <img src="../../../../assets/images/Lenny-designstyle-colors-m.png">
    </div>
    <div class="userInfo">
        <div class="user_name" *ngIf="user">Welcome, {{user?.username}}!</div>
    </div>
    <div class="headerButtons">
        <button mat-raised-button color type="button" class="logoutButton" color="primary" *ngIf="user"
                (click)="logout()">Log Out
        </button>
        <button mat-raised-button color type="button" class="logoutButton" color="primary" *ngIf="!user" routerLink="
        /auth/login">Log in
        </button>
    </div>
</div>