.feedContainer{
  padding-top: 80px;
}
.postLi{
  display: flex;
  align-items: center;
  flex-direction: column;

  .icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  .allign-right {
    float: right;
  }
  i {
    padding: 5px;
  }
  .postImage img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .postCard {
    padding: 40px, 0px;
    border: 1px solid #efefef;
    width: 640px;
  }
  .profileInfo {
    margin-top: 10px;
    line-height: 5px;
  }

}
.postCard {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 60px;
}

.profileImage img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.postHeader {
  height: 60px;
  padding: 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.profileInfo p {
  margin-bottom: 10px;
}

.profileUsername {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 4px;
  font-size: 14px;
  margin-bottom: 0;
}

.profileLocation {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.profileInfo {
  margin-left: 12px;
}

.postContent {
  padding-left: 16px;
  padding-right: 16px;
}

.postCaption {
  display: flex;
}

.captionText {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}

.captionText a {
  text-decoration: none;
}

.postLikes {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 4px;
  font-size: 14px;
}

.postLikes p {
  margin-bottom: 0;
}

.postIcons i {
  padding: 0;
  margin-top: 5px;
  padding-right: 5px;
}

.postDateTime {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
}

.addComment textarea {
  overflow: hidden;
  background: 0 0;
  border: 0;
  color: #262626;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.postComments {
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addComment {
  padding: 16px 26px 16px 0px;
  width: 100%;
}
