.authContainer{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.authorization{
    width: 300px;
    flex-flow: column;
    padding: 50px;
   background-color: white;
   border-radius: 5px;
   text-align: left;
   box-shadow: 3px 3px rgba(0,0,0,0.2);
}
.email_form{
    width: 100%;
    mat-form-field{
        width: 100%;
    }
}
.password_form{
    width: 100%;
    mat-form-field{
        width: 100%;
    }
}
.buttons_form{
    display: flex;
    justify-content: space-between;
}